:root
{
/*     --primary:#0051A1;
    --lightptimary:#9FC3E7; */
    --gray:#E0E5E9;

    --light: #f6f6f9;
    --primary: #0051a1;
    --light-primary: #9fc3e7;
    --grey: #e0e5e9;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
  --light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}
:target::before{
    content: '';
    display: block;
    height: 100px;
    margin-top: -100px;
}
body{
    background-color: var(--grey);
}

/* body
{
    background-color:  #c7c6c6;
} */
a
{
    text-decoration: none;
    color: white;
}
.container
{
    display: flex;
    align-items: stretch;
    gap: 10px;
    width:calc(100% - 10px);
    height: 100vh;
    margin-top:75px;
    margin-left: 10px;  
}
.sidebar

{ 
    width:38%;
    margin-top: 20px; 
}
.sidebar img
{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit:cover;
    box-shadow: rgb(61, 91, 123) 0px 20px 30px -10px;
}
.main-content
{
    width: 62%;
    display: flex;
    flex-direction: column;
}
.main-content h1,h2
{
    margin: 10px;
    margin-left: 40px;
}
.main-content h1
{
    color: var(--primary);
}
.main-content h2
{
    color: var(--primary);
}
.title
{
    border-radius: 20px;
    /* background-image: url('../../images/clinic.jpg');
    background-size: cover;
    background-position: right center; */
    background-color: white;
    margin-top: 20px;
   margin-right: 10px;
    margin-bottom:0px;
    box-shadow: rgb(61, 91, 123) 0px 20px 30px -10px;
   
    
}
.des
{
    font-size: 10px;
    padding-top: 10px;
}

.clinics
{
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    background-color: white;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
    padding-left: 60px;
    margin-right:10px;
    padding-bottom: 35px;
    padding-top: 35px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow:5px 5px 10px  rgb(83, 82, 82); */
}
.item
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 150px;
    height: 150px;
    background-color: var(--primary);
    justify-content: center;
    border-radius: 15px;
    text-align:center;
    box-shadow:5px 5px 10px  rgb(83, 82, 82);
    transition: transform 0.3s;
}
.item:hover
{
    background-color:#9FC3E9;
    transform: scale(1.1);
    cursor:pointer;
    box-shadow: none;
}
.item a i
{
    font-size: 45px;
    margin: auto 20px;
    margin-bottom: 20px;
}
.name
{
    font-size: 20px;
}