/*when add header should deleted*/
header.header{
    height:80px;
    background-color: #0051a1;
}
footer.footer{
    height:300px;
    background-color: #0051a1;
}
/*to here*/

/* Layout */
*{
    box-sizing: border-box;
    margin: 0;
}

.container{
    width: 1300px;
    
}

.contact.body{
    background-color: #e0e5e9;
    padding-bottom: 35px;
}

.row{
    padding: 50px 100px;
    width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 620px;
}

.coloumn-left{
    padding: 50px 20px 50px 100px;
    width: 800px;
    background-color: #fff;
}

.coloumn-right{
    position: relative;
    width: 300px;
    background-color: #0051a1;
}

.coloumn-center{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 400px;
    width: 400px;
    margin-left: 700px;
    margin-top: 80px;
    border-radius: 50px 0px 0px 50px;
    background-color: #e0e5e9;
    box-shadow: 4px 8px 20px #9fc3e7
}

/* List */
.coloumn-center span i{
    color:#0051a1;
    margin-right:20px;
}

/* Heading / span / p */
h1, h2, h3, span, a{
    font-family: sans-serif;
    font-style: normal;
}

h1, h2, h3{
    text-transform: capitalize;
}

.Banner .container .col h1{ 
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    margin-top: 50px;
    padding-top: 10px;
}

.contact-form h2{
    color: #0051a1;
    font-size: 30px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 10px;
}

.contact-form h3{
    color: #0051a1;
    font-size: 13px;
    font-weight: bold;
    line-height: 18px;
    margin-bottom: 20px;
}

.coloumn-center h3{
    color: #0051a1;
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;;
    line-height: 50px;
    padding-left: 70px;
}

.coloumn-center span{
    margin-left: 100px;
}

.coloumn-center span a{
    color: #0051a1;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    line-height: 40px;
}

.coloumn-center span{
    transition: transform .4s;
}

.coloumn-center span:hover{
    color: #9fc3e7;
    transform: scale(1.1);
}

/* Form */
input[type="text"]{
    height: 40px;
}

input[type="text"], textarea{
    border: 0;
    width: 50%;
    border-bottom: 3px solid #0051a1;
    margin-bottom: 20px;
}

::placeholder {
    color: #ccc;
    margin-left: 5px;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    padding-bottom: 10px;
}

.contact-form .contact-btn{
    color: #fff;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 300;
    padding: 15px 40px;
    border: none;
    background-color: #0051a1;
    border-radius: 6px;
    width: 50%;
    cursor: pointer;
}
.contact-form .contact-btn:hover{
    color: #fff;
    background-color: #9fc3e7;
}

/*map*/
.map{
    width: 100%;
    height: 350px;
    border: 0;
}