.contact-form{
    padding: 30px 10px;
}
input[type="text"]{
    height: 40px;
}
input[type="text"], 
textarea{
    border: 0;
    width: 50%;
    background-color: #fff;
    border-bottom: 3px solid var(--primary);
    margin-bottom: 10px;
}

input[type="text"]:focus,
textarea:focus{
    background-color: #fff;
    outline: none;
} 
input[type="text"]:hover{
    background-color: #fff;
} 
::placeholder {
    color: #000;
    opacity: 0.6;
    font-size: 13px;
    font-weight: 300;
    padding-bottom: 10px;
}
.input-control span{
    font-size: 14px;
    color: red;
}
.input-control span i{
    color: seagreen;
}
.input-control span i.fa-regular.fa-circle-check {
    font-size: 20px;
}

.contact-form .contact-btn{
    color: #fff;
    background-color: var(--primary);
    border: none;
    border-radius: 49px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 15px 40px;
    width: 150px;
    height: 49px;
    cursor: pointer;
    transition: transform .4s;
}
.contact-form .contact-btn:hover{
    transform: scale(1.1);
    color: #fff;
    background-color: var(--light-primary);
}

/* Responsive at width 768px*/
@media(max-width:768px){
    input[type="text"], textarea {
        width: 70%;
    }
}
/* Responsive at width 425px*/
@media(max-width:425px){
    input[type="text"], textarea {
        width: 100%;
    }
}
