*
{
    font-family: 'Courgette', cursive;
font-family: 'Lexend', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
}
/***************************************************************/
.container 
{
    margin-right: 30px;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.left
{
    float: left;
    width: 70%;
}
.right
{
    float: right;
    width: 30%;
}

/***************************************************************/

.head
{
    display: flex;
    justify-content: flex-start;
    /* background-color: #E0E5E9; */
    width: 1164px;
    margin:0 auto;
}
.profile img
{
    border-radius: 100%;
    width: 180px;
    height: 180px;
    object-fit: cover;
    margin-left:50px;
}
.info
{
    margin-top: 50px;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.info h2
{
    color:#0051A1;
}
h2
{
    color:#0051A1;
}
.info p
{
    color: #9FC3E9;
}
.social
{
    display: flex;
    height: 100px;
    justify-content: center;
}
.social i
{
    margin-right: 20px;
    font-size: 25px;
}
.times
{
    padding-top: 10px;
    padding-left: 30px;
    display: flex;
    justify-content: center;
}
.time1
{
    background-color:#9FC3E9;
    margin-left: 20px;
    width: 230px;
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    padding: 5px;
}
.timesdiv h3
{
    margin-top: 50px;
    margin-left: 60px;
    color: #0051A1;
}
.timesdiv p
{
    color: white;
}
.radiogroupe
{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.radio:nth-child(odd)
{
    display: flex;
    padding:0 auto;
    width: 70%;
    justify-content: flex-start;
    margin: 10px;
    background-color:#9FC3E9;
    border-radius: 30px;
    height: 58px;

}
.radio:nth-child(even)
{
    display: flex;
    padding:0 auto;
    width: 70%;
    justify-content: flex-start;
    margin: 10px;
    background-color: #E0E5E9;
    border-radius: 30px;
    height: 58px;

}
#fradio
{
    width: 25px;
    margin: 10px;
}
.date
{
    display: flex;
    justify-content: center;
}
.date h2{
    color: #0051A1;
    font-size: 25px;
    height: 2rem;
}
.date input{
    background-color:#9FC3E9;
    width: 300px;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
}
.dates
{
    display: flex;
    justify-content: space-between;
}
.lastsection
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right h2
{
    text-align: center; 
    margin-bottom: 20px;
    margin-top: 50px;
}
.feedbacks
{
    display:grid;
    width: 70%;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.feedback
{
    display:flex;
    gap: 10px;
    justify-content: space-around;
    background-color:#0051A1;
    border-radius: 25px;
    overflow: hidden;
    
}
.feedbacks img
{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    object-fit: cover;
    margin: 10px;
}
.feedback
{
    display:flex;
    gap: 10px;
    justify-content: space-around;
    background-color:#9FC3E9;
    border-radius: 25px;
    padding: 10px;
    
}
.yourfeedback
{
    display:flex;
    gap: 10px;
    background-color:#E0E5E9;
    border-radius: 25px;
    overflow: hidden;
    /* grid-column: span 2; */
}
.yourfeedback input
{

    height: 100%;
    width: 100%;
    background-color:#E0E5E9;
    outline: none;
    border: none;
    z-index: 10;
}
.yourfeedback input::placeholder
{
    font-size: 18px;
    color: #0051A1;
}
/************************Comment section*******************************/


@media (max-width: 1400px){

    .container 
{
    margin-right: 0;
    margin-left: 0;
}
    .left
{
    float: left;
    width: 60%;
    margin-right: 120px;
}
.right
{
    float: right;
    width: 30%;
}

.time1
{
    width: 180px;
    padding: 2px;
}
}