*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, p, h4, span{
    font-family: Arial, Helvetica, sans-serif;
}
ul{
    list-style: none;
}
.footer{
    background-color: #0051a1;
    padding: 50px; 
}
footer .grid-container{
    max-width:1270px;
    margin:auto;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}
.footer .logo{
    width: 170px;
    height: 160px;
} 
.footer-column1 p{
    line-height: 21px;
    font-weight: 100;
    font-size: 15px;
    font-style: normal;
    color: #ffffff;
}
h4{
    font-size: 18px;
    color:#ffffff;
    text-transform: capitalize;
    margin-bottom: 20px;
    font-weight: 500;
}
hr{
    border:1px solid #fff;
    opacity: 0.8;
    width:20%;
    margin-bottom: 25px;
}
.footer-column2 .footer-links li a, .footer-column3 .opening-hour li, .footer-column4 .footer-links li a{
    font-size: 16px;
    padding-bottom:10px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-column4 .footer-links li a{
    padding-bottom:0px;
}
.footer-column2 .footer-links li a:hover, .footer-column4 .footer-links li a:hover{
    color: #9FC3E7;
    padding-left: 10px;
}
span.mon {
    padding-left: 36px;
}
span.tue, span.thu {
    padding-left: 38px;
}
span.wed {
    padding-left: 33px;
}
span.fri {
    padding-left: 48px;
}
span.sat {
    padding-left: 2px;
}
.footer-links ul li a i{
    padding-right:10px;
}

.footer-column4 ul.social-icons li{
    display: inline-block;
    cursor: pointer;
    list-style-type: none;
    margin-right: 10px;
}
.footer-column4 ul.social-icons i{
    color:#fff;
    transition: transform .4s;
}
.footer-column4 ul.social-icons i:hover{
    color:#9FC3E7;
    transform: scale(1.1);
}

.box-copyright{
    border-top:1px solid rgb(255,255,255,0.5);
    background-color: #0256A9;
    height:50px;
}
.container-copyright{
    max-width:1270px;
    margin:auto;
}
.box-copyright .copyright-text{
    color:#fff;
    font-size: 13px;
    padding-top: 15px; 
}

/* Responsive */
@media(max-width: 900px){
    .footer{
        padding:50px 20px;
    }
    
    .footer .logo {
        width: 150px;
        height: 150px;
    }
    .footer-column2 {
        margin-top: 50px;
        margin-left: 30px;
    }
    .footer-column3 {
        margin-top: 50px;
    }
    .footer-column4 {
        margin-left: 25px;
        margin-top: 50px;
    }
    h4 {
        font-size: 16px;
    }
    .box-copyright .copyright-text {
        padding-left: 20px;
    }
}
@media(max-width: 500px){
    .footer{
        padding:20px;
    }
    footer .grid-container {
        grid-template-columns: 100%;
    }
    .footer-column2, .footer-column3, .footer-column4 {
        margin-top: 15px;
    }
    .footer-column2, .footer-column4{
        margin-left:0px;
    }
    .box-copyright .copyright-text {
        padding-left: 20px;
    }
}










